
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.headerline{
    margin: 5px 30px;
}

header {
    background-color: red;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

nav li {
    margin: 0 20px;
}

a {
    color: white;
    text-decoration: none;
}

section {
    padding: 50px;
}

#booking-form {
    background-color: #f2f2f2;
}

form label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

form input[type=text],
form input[type=email],
form input[type=password],
form input[type=tel],
form textarea,
form select {
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px;
    width: 100%;
}

form input[type=radio],
form input[type=checkbox] {
    margin-right: 10px;
}

form input[type=submit] {
    background-color: #333;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
}

form input[type=submit]:hover {
    background-color: #555;
}

#video {
    text-align: center;
}

#image {
    text-align: center;
}

#image img {
    max-width: 100%;
}

figcaption {
    font-style: italic;
    margin-top: 10px;
}

#login,
#signup,
#demo-details {
    background-color: #f2f2f2;
}

h2 {
    margin-top: 0;
}

form {
    display: flex;
    flex-wrap: wrap;
}

form label {
    flex-basis: 100%;
}

form input[type=submit] {
    flex-basis: 100%;
}

form input[type=text],
form input[type=email],
form input[type=password],
form input[type=tel],
form select,
form textarea {
    flex-basis: calc(50% - 20px);
    margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {

    form input[type=text],
    form input[type=email],
    form input[type=password],
    form input[type=tel],
    form select,
    form textarea {
        flex-basis: 100%;
    }
}